<?php
/*
 * UberAPILib
 *
 * This file was automatically generated by APIMATIC BETA v2.0 on 08/22/2014
 */
// This snippet is adopted from Stripe SDK.
if (!function_exists('curl_init')) {
  throw new Exception('UberAPILib needs the CURL PHP extension.');
}
if (!function_exists('json_decode')) {
  throw new Exception('UberAPILib needs the JSON PHP extension.');
}
if (!function_exists('mb_detect_encoding')) {
  throw new Exception('UberAPILib needs the Multibyte String PHP extension.');
}

// This dependency shall be resolved by composer
require_once('packages/apimatic/unirest-php/lib/Unirest.php');

// APIMATIC Helper Files
require_once(dirname(__FILE__) . '/UberAPILib/APIHelper.php');
require_once(dirname(__FILE__) . '/UberAPILib/APIException.php');
require_once(dirname(__FILE__) . '/UberAPILib/Configuration.php');

// Controllers
require_once(dirname(__FILE__) . '/UberAPILib/Controllers/APIController.php');

// Models
require_once(dirname(__FILE__) . '/UberAPILib/Models/ProductModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/PriceEsitmateModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/TimeEstimateModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/ProductCollectionModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/PriceEstimateCollectionModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/TimeEstimateCollectionModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/LocationModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/HistoryModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/UserActivityModel.php');
require_once(dirname(__FILE__) . '/UberAPILib/Models/UserProfileModel.php');
